<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
    <a class="navbar-brand col-2" style="color:white; margin-right: 80px;">Vaccine Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-8 justify-content-around" id="navbarColor02">
      <div><a class="btn btn-primary" (click)="onOpenAddModal()" style="color: white">Add vaccine<span class="sr-only">(current)</span></a></div>
      <div><a class="btn btn-primary" routerLink="/nationalParks">National park manager<span class="sr-only">(current)</span></a></div>
      <div><a class="btn btn-primary" routerLink="/vaccines">Vaccine manager<span class="sr-only">(current)</span></a></div>
      <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchVaccine(key.value)" #key="ngModel" ngModel
               name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search for vaccine..." required>
      </form>
    </div>
  </nav>
  <br>
  <br>
  <div class="container" id="main-container">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Disease</th>
        <th scope="col">Periodicity</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vaccine of vaccine">
        <td>{{vaccine.name}}</td>
        <td>{{vaccine.disease}}</td>
        <td>{{vaccine.periodicity}}</td>
        <td>
          <div class="float-right btn-group btn-group-sm"><a (click)="onOpenModal(vaccine, 'edit')" class="btn btn-primary tooltips tools" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(vaccine, 'delete')" class="btn btn-secondary tooltips tools" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Add Vaccine Modal -->
  <div class="modal fade" id="addVaccineModal" tabindex="-1" role="dialog" aria-labelledby="addVaccineModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addVaccineModalLabel">Add Vaccine</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddVaccine(addForm)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
              <label for="disease">Disease</label>
              <input type="text" ngModel name="disease" class="form-control" id="disease" placeholder="Disease" required>
            </div>
            <div class="form-group">
              <label for="periodicity">Periodicity</label>
              <input type="text" ngModel name="periodicity" class="form-control" id="periodicity" placeholder="Periodicity" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-vaccine-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="updateVaccineModal" tabindex="-1" role="dialog" aria-labelledby="vaccineEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateVaccineModalLabel">Edit {{editVaccine?.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <input type="hidden" ngModel="{{editVaccine?.id}}" name="id" class="form-control" id="id" placeholder="Id">
            <div class="form-group">
              <label for="edit_name">Name</label>
              <input type="text" ngModel="{{editVaccine?.name}}" name="name" class="form-control" id="edit_name" aria-describedby="emailHelp" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="edit_disease">Disease</label>
              <input type="text" ngModel="{{editVaccine?.disease}}" name="disease" class="form-control" id="edit_disease" placeholder="Disease">
            </div>
            <div class="form-group">
              <label for="edit_periodicity">Periodicity</label>
              <input type="text" ngModel="{{editVaccine?.periodicity}}" name="periodicity" class="form-control" id="edit_periodicity" placeholder="Periodicity">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="onUpdateVaccine(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteVaccineModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Vaccine</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete vaccine {{deleteVaccine?.name}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteVaccine(deleteVaccine?.id!)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Notification for no vaccine -->
  <div *ngIf="vaccine?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO VACCINES!</h4>
      <p>No vaccines were found.</p>
    </div>
  </div>

</div>

