<body>
<div class="container">
  <div id="map"></div>
  <div>
    <div class="row justify-content-around">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="col-2">
          <a class="navbar-brand " style="color:white" id="brand"><h1>WildlifeCare</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <!--      <div class="collapse navbar-collapse" id="navbarColor02">-->
        <div id="buttons" class="col-3">
          <div class="row justify-content-between">
            <a (click)="goToWorkers()" class="btn btn-primary">Workers manager<span class="sr-only">(current)</span></a>
            <a (click)="goToAnimals()" class="btn btn-primary">Animals manager<span class="sr-only">(current)</span></a>
          </div>
        </div>

        <h2 class="col-3" id="title">{{nationalPark.name}} admin panel </h2>
        <div id="search" class="col-3">
          <div class="row">
            <form class="form-inline my-2 my-lg-0 justify-content-center">
              <input type="search" #key="ngModel" ngModel
                     name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search for species..." required>
            </form>
          </div>


        </div>
        <!--      </div>-->
      </nav>
      <div class="row justify-content-center">
        <div class="col-5">
          <div class="row justify-content-between">
          <div class="col-3 changeMap" id="workerMap" (click)="showWorkerMap()">Workers map</div>
          <div class="col-3 changeMap" id="animalMap" (click)="showAnimalMap()">Animals map</div>
        </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-start">
      <div *ngIf="clicked" class="col-4 info">
        <div class="row justify-content-end">
          <a class="col-2" (click)="close()" id="plus">x</a>
        </div>
        <div class="row justify-content-start">
          <h3 class="col-3 text">Name:</h3>
          <h3 class="col-6">{{clickedAnimal.name}}</h3>
        </div>
        <div class="row justify-content-start">
          <h3 class="col-3 text">Species:</h3>
          <h3 class="col-6">{{clickedAnimal.species}}</h3>
        </div>
        <div class="row justify-content-start">
          <h3 class="col-3 text">Latitude:</h3>
          <h3 class="col-6">{{clickedAnimal.latitude}}</h3>
        </div>
        <div class="row justify-content-start">
          <h3 class="col-4 text">Longitude:</h3>
          <h3 class="col-6 long">{{clickedAnimal.longitude}}</h3>
        </div>

      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet></body>

