.container {
  background-color: #262626;
  height: 100vh;
}
.title {
  color: orange;
  text-align: center;
  font-size: 4vw;
  margin-top: 13vh;
}
.text {
  text-align: center;
  font-size: 2vw;
  font-style: italic;
  font-weight: normal;
  margin-top: 4vh;
  margin-bottom: 6vh;
}
.url {
  border-radius: 12px;
  border-width: 3px;
  font-size: 1.4vw;
  width: 25vw;
  margin-bottom: 4vh;
  margin-right: 0;
}
.container {
  margin: 0 0;
  max-width: 100%;
}
.btn {
  font-size: 1.5vw;
}

