<div class="container">

<!--  title-->
  <div class="row justify-content-center">
    <h1 class="title">{{nationalPark.name}} national park workspace</h1>
  </div>

<!--  text-->
  <div class="row justify-content-center">
    <h3 class="text">Please login</h3>
  </div>

<!--  form-->
  <div class="row justify-content-center form-outline">
    <input id="username" type="text" placeholder="Username" class="form-control url">
  </div>
  <div class="row justify-content-center form-outline">
    <input id="password" type="password" placeholder="Password" class="form-control url">
</div>

  <!--  button-->
  <div class="row justify-content-center">
    <button class="btn btn-primary col-1">Login</button>
  </div>
</div>
