<link rel="stylesheet" href="select-workspace.component.css">
<div class="container">

<!--  elephant icon-->
  <div class="row elephant-row justify-content-center">
  <img src="https://raw.githubusercontent.com/Dasha-And/WildlifeCare-Mobile/master/app/src/main/res/drawable/elephant.png" alt="" class="elephant col-2">
  </div>

<!--  title-->
  <div class="row justify-content-center">
    <h1 class="col-5 title">Welcome to WildlifeCare</h1>
  </div>

<!--  text-->

    <h3 class="text">Enter your workspace URL, which you received on email</h3>

<!--  input-->
  <div class="row justify-content-center form-outline">
    <input type="text" placeholder="Workspace URL" class="form-control url" id="nationalParkId" name="nationalParkId">
  </div>

<!--  button-->
  <div class="row justify-content-center">
    <button class="btn btn-primary col-1" (click)="goToLogin()">Confirm</button>
  </div>

</div>




